@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


img {
    width: 270px;
    margin: auto;
    display: block;
    border-radius: 10px;
}

.text {
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

.text>h2 {

    width: 300px;
    margin: auto;
    font-weight: bold;

}

.text>p {
    color: hsl(220, 15%, 55%);
    width: 220px;
    margin: auto;
    margin-top: 10px;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: hsl(212, 45%, 89%);
    max-width: 1024px;
    min-width: 120px;
}

.tudo {
    min-width: 320px;
    background-color: white;
    width: 320px;
    margin: auto;
    height: 480px;
    margin-top: 80px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px hsla(217, 45%, 22%, 0.313);
}

footer {
    margin-top: 25%;
    text-align: center;
    font-size: 12px;
}